<h2>MyDashboard</h2>
<section id="existingPosts">
{{#each posts}}
  <section class="card">
      <a href="/posts/{{id}}" class="card-body">
        <h3 class="card-title">{{title}}</h3> 
        <h5>Posted on {{createdAt}}</h5>
        <p class="card-text">{{description}}</p>
    </a>
  </section>
{{/each}}
</section>
<section id="createNew" class="card text-center">
  <div class="card-body">
  <h3 class="card-title">Create New Post</h3>
  <form id="newPost">
    <div class="card-text">
      <label for="title">Title</label><br>
      <input type="text" id="title" placeholder="title" />
    </div>
    <div class="card-text">
      <label for="content">Content</label><br>
    <input type="text" id="content" placeholder="content"></input>
    <button id="create">Create</button>
    </div>
    
</form>
</div>
</section>
<form id="newComment">
    <button>+ New Post</button>
</form>
<script src="./js/dashboard.js"></script>