* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(230, 239, 239);
}

header, h1 {
  background-color: #2c04bd;
  padding: 10px;
  color: white !important;
}
h2 {
  background-color: #27195b;
  padding: 10px;
  color: white !important;
}

header a {
  margin: 10px;
  padding: 5px;
  color: white !important;
}

.card-title {
  background-color: rgb(11, 24, 210);
  color: white;
  padding: 5px;
}

.card {
  background-color: azure;
}

.card h5, .card p {
  color: black;
  font-style: normal;
}

button {
  padding: 3px;
  margin: 5px;
}

#newcomment {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#content, #editedContent {
  width: 60vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

#create, #update, #delete {
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 20px;
}

#comment {
width: 80vw;
margin-top:20px;
}

#title, #editedTitle {
  width: 60vw;
}